<div id="models">
        <div class="page-content">
            <a href="" class="tile-medium mt-1 p-1 text-center text-upper va-middle bg-white border bd-orange fg-orange">
                    <h2>

                        back
                    </h2>
                </a>
                <h2 class="cars-title fg-orange text-center mt-14-minus">Model selection</h2>

    <div class="block models">
        <div class="row">
            

            {{#each model}}
            <button class="col-100 tile-small m-2 p-1 va-middle bg-orange border bd-orange outline ol-white fg-black">
               <h4 class="model-name">
                   {{this}}
               </h4>
            </button>
            {{/each}}
        


            

        </div>
    </div>
    </div>
</div>