<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

    <style>
body {
  background: #1d1d1d;
}
#application-canvas{
  width: 100%;
}

.block.cars .row .col-100,
.block.models .row .col-100,
.block.tracks .row .col-20 {
  width: 17.6vw;
  text-align: center;
}

.block.tracks .row .col-20 {
  width: 22vw;
  height: 51vh;
}

.block.tracks .row .col-20:nth-of-type(18) > .item-title {
  margin-top: -1px;
}

.block.models .row .col-100 {
  width: 22vw;
  height: 33vh;
}

#view > .tile-medium,
.page-content a.tile-medium {
  height: 20vh;
}
</style>
    
        
    

