body {
    background: #1d1d1d;
}

.left, .right, .brake {
    position: absolute;
    width: 15vh;
    bottom: 10px;
}

.brake {
    left: 40%;
}

.left {
    left: 10%;
}

.right {
    right: 10%;
}

.acc {
    position: absolute;
    width: 15vh;
    bottom: 10px;
    right: 30%;
}